{:paths ["src" "resources" "test"]
 :deps
 {cheshire/cheshire              {:mvn/version "5.11.0"}
  hiccup/hiccup                  {:mvn/version "2.0.0-RC1"}
  http-kit/http-kit              {:mvn/version "2.7.0-alpha1"}
  org.clojure/clojure            {:mvn/version "1.11.1"}
  svg-clj/svg-clj                {:git/url "https://github.com/adam-james-v/svg-clj"
                                  :git/sha "dce9d756bb1052034d360ae7c0743dd9153fca18"} #_{:local/root "../svg-clj/"}
  org.clojars.askonomm/ruuter    {:mvn/version "1.3.2"}}

 :aliases
 ;; clj -T:build uber
 {:build {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.5" :git/sha "24f2894"}}
          :ns-default build}}}
